<form id="carrito" class="form">
  <h2>Para agregar el producto al carrito escriba su ID</h2>
  <label for="fname">ID del Producto:</label><br>
  <input type="text" id="idproducto" name="idproducto"><br>
  <button type="submit" id="boton">AGREGAR AL CARRITO</button>

</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>