<h2>Bienvenido!!</h2>

<form action="http://localhost:8080/ecommerce/user/login2", method="post">
  <input name="username" value="username" /><br>
  <input name="password" value="password" /><br>
  <button value="submit">Login</button>
  <a href="http://localhost:8080/ecommerce/user/github">Login con Github</a>

</form>