<h2>Te invitamos a resgitrarte</h2>

<form action="http://localhost:8080/ecommerce/user/signup2", method="post">
  <input name="first_name" value="first_name" /><br>
  <input name="last_name" value="last_name" /><br>
  <input name="email" value="email" /><br>
  <input name="age" value="age" /><br>
  <input name="password" value="password" /><br>
  <button value="submit">Registrarse</button>
</form>