<h1>Tiendita Online MI EMPRENDIMIENTO</h1>

<h2>Bienvenido {{objectsession.email}}</h2>
<form action="http://localhost:8080/ecommerce/home/logout", method="get">
  <button value="submit">Logout</button>
</form>

<article id="catalogo"></article>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/indexproducts.js"></script>