<!DOCTYPE html>
<html>  

<head>
    <style>
        body {
            background-color: yellowgreen;
        }

        h1 {
            color: green;
        }

        h2 {
            color: white;
        }

        p {
            color: red;
        }
    </style>

    <title>Productos Ecommerce</title>


</head>

<body>

    {{{body}}}

</body>

</html>